<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.sys.mapper.UserMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.example.sys.domain.UserEntity" id="userMap">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="enabled" column="enabled"/>
        <collection property="roleEntityList" column="id" select="queryRoleByUserId" fetchType="lazy"/>
    </resultMap>

    <select id="queryRoleByUserId" resultMap="com.example.sys.mapper.RoleMapper.roleMap">
        SELECT
        r.*
        FROM
        sys_user_role ur
        LEFT JOIN sys_role r ON ur.user_id = r.id
        <choose>
            <when test="userId !=null and userId != ''">
                where ur.user_id = #{userId}
            </when>
            <otherwise>
                where ur.user_id = 0
            </otherwise>
        </choose>
    </select>
</mapper>
